<li>
    <p>{{id}}. {{food_id}}     Note: 
    </p>
    {{!-- <button data-id="{{id}}" data-taskcomplete="{{task_complete}}" class="taskbutton">
       {{#if task_complete}} Undo {{else}} Complete {{/if}}
    </button> --}}
</li>