<li>
    <p>{{id}}. {{task_name}}     Note: {{task_notes}}</p>
    <button data-id="{{id}}" data-taskcomplete="{{task_complete}}" class="taskbutton">
       {{#if task_complete}} Undo {{else}} Complete {{/if}}
    </button>
</li>