<li>
    <p>{{id}}. {{Tasks.task_name}}     Note: {{Tasks.task_notes}}</p>
    <button data-id="{{id}}" data-taskcomplete="{{Tasks.task_complete}}" class="taskbutton">
       {{#if Tasks.task_complete}} Undo {{else}} Complete {{/if}}
    </button>
</li>